In [18]:
import requests
import pandas as pd

## Working with the API

In [15]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

quer = {"q":"paris", "limit":"10"}

headers = {'x-rapidapi-host': "aerodatabox.p.rapidapi.com",'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"}

In [16]:
resp = requests.get(url, headers=headers, params=quer)
resp

In [22]:
result1 = resp.json()
result1

{'searchBy': 'paris',
 'count': 6,
 'items': [{'icao': 'LFPG',
   'iata': 'CDG',
   'name': 'Paris Charles de Gaulle',
   'shortName': 'Charles de Gaulle',
   'municipalityName': 'Paris',
   'location': {'lat': 49.0128, 'lon': 2.549999},
   'countryCode': 'FR'},
  {'icao': 'LFPO',
   'iata': 'ORY',
   'name': 'Paris -Orly',
   'shortName': '-Orly',
   'municipalityName': 'Paris',
   'location': {'lat': 48.7253, 'lon': 2.35944},
   'countryCode': 'FR'},
  {'icao': 'LFAT',
   'iata': 'LTQ',
   'name': "Le Touquet-Paris-Plage Le Touquet-Côte d'Opale",
   'shortName': "Le Touquet-Côte d'Opale",
   'municipalityName': 'Le Touquet-Paris-Plage',
   'location': {'lat': 50.5174, 'lon': 1.620589},
   'countryCode': 'FR'},
  {'icao': 'LFOB',
   'iata': 'BVA',
   'name': 'Beauvais/Tillé Paris Beauvais Tillé',
   'shortName': 'Paris Beauvais Tillé',
   'municipalityName': 'Beauvais/Tillé',
   'location': {'lat': 49.4544, 'lon': 2.11278},
   'countryCode': 'FR'},
  {'icao': 'LFPB',
   'iata': 'LBG',
   'name': 'Paris -Le Bourget',
   'shortName': '-Le Bourget',
   'municipalityName': 'Paris',
   'location': {'lat': 48.9694, 'lon': 2.44139},
   'countryCode': 'FR'},
  {'icao': 'KPHT',
   'iata': 'PHT',
   'name': 'Paris Henry County',
   'shortName': 'Henry County',
   'municipalityName': 'Paris',
   'location': {'lat': 36.3382, 'lon': -88.3829},
   'countryCode': 'US'}]}

In [20]:
pd.json_normalize(result["items"])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,LFPG,CDG,Paris Charles de Gaulle,Charles de Gaulle,Paris,FR,49.0128,2.549999
1,LFPO,ORY,Paris -Orly,-Orly,Paris,FR,48.7253,2.359440
2,LFAT,LTQ,Le Touquet-Paris-Plage Le Touquet-Côte d'Opale,Le Touquet-Côte d'Opale,Le Touquet-Paris-Plage,FR,50.5174,1.620589
3,LFOB,BVA,Beauvais/Tillé Paris Beauvais Tillé,Paris Beauvais Tillé,Beauvais/Tillé,FR,49.4544,2.112780
4,LFPB,LBG,Paris -Le Bourget,-Le Bourget,Paris,FR,48.9694,2.441390
5,KPHT,PHT,Paris Henry County,Henry County,Paris,US,36.3382,-88.382900

In [21]:
query = {"q":"london","limit":"10"}

response = requests.request("GET", url, headers=headers, params=query)
items = response.json()
items

{'searchBy': 'london',
 'count': 10,
 'items': [{'icao': 'CYXU',
   'iata': 'YXU',
   'name': 'London ',
   'shortName': 'London',
   'municipalityName': 'London',
   'location': {'lat': 43.0356, 'lon': -81.1539},
   'countryCode': 'CA'},
  {'icao': 'EGGW',
   'iata': 'LTN',
   'name': 'London Luton',
   'shortName': 'Luton',
   'municipalityName': 'London',
   'location': {'lat': 51.8747, 'lon': -0.368333},
   'countryCode': 'GB'},
  {'icao': 'EGKK',
   'iata': 'LGW',
   'name': 'London Gatwick',
   'shortName': 'Gatwick',
   'municipalityName': 'London',
   'location': {'lat': 51.1481, 'lon': -0.190277},
   'countryCode': 'GB'},
  {'icao': 'EGLC',
   'iata': 'LCY',
   'name': 'London City',
   'shortName': 'City',
   'municipalityName': 'London',
   'location': {'lat': 51.5053, 'lon': 0.055277},
   'countryCode': 'GB'},
  {'icao': 'EGLL',
   'iata': 'LHR',
   'name': 'London Heathrow',
   'shortName': 'Heathrow',
   'municipalityName': 'London',
   'location': {'lat': 51.4706, 'lon': -0.461941},
   'countryCode': 'GB'},
  {'icao': 'EGSS',
   'iata': 'STN',
   'name': 'London Stansted',
   'shortName': 'Stansted',
   'municipalityName': 'London',
   'location': {'lat': 51.885, 'lon': 0.234999},
   'countryCode': 'GB'},
  {'icao': 'EGKB',
   'iata': 'BQH',
   'name': 'London Biggin Hill',
   'shortName': 'Biggin Hill',
   'municipalityName': 'London',
   'location': {'lat': 51.3308, 'lon': 0.032499},
   'countryCode': 'GB'},
  {'icao': 'EGWU',
   'iata': 'NHT',
   'name': 'London RAF Northolt',
   'shortName': 'RAF Northolt',
   'municipalityName': 'London',
   'location': {'lat': 51.553, 'lon': -0.418166},
   'countryCode': 'GB'},
  {'icao': 'FAEL',
   'iata': 'ELS',
   'name': 'East London Ben Schoeman',
   'shortName': 'Ben Schoeman',
   'municipalityName': 'East London',
   'location': {'lat': -33.0356, 'lon': 27.8259},
   'countryCode': 'ZA'},
  {'icao': 'KGON',
   'iata': 'GON',
   'name': 'Groton (New London) Groton New London',
   'shortName': 'Groton New London',
   'municipalityName': 'Groton (New London)',
   'location': {'lat': 41.3301, 'lon': -72.0451},
   'countryCode': 'US'}]}

In [23]:
result2 = response.json()
result2

{'searchBy': 'london',
 'count': 10,
 'items': [{'icao': 'CYXU',
   'iata': 'YXU',
   'name': 'London ',
   'shortName': 'London',
   'municipalityName': 'London',
   'location': {'lat': 43.0356, 'lon': -81.1539},
   'countryCode': 'CA'},
  {'icao': 'EGGW',
   'iata': 'LTN',
   'name': 'London Luton',
   'shortName': 'Luton',
   'municipalityName': 'London',
   'location': {'lat': 51.8747, 'lon': -0.368333},
   'countryCode': 'GB'},
  {'icao': 'EGKK',
   'iata': 'LGW',
   'name': 'London Gatwick',
   'shortName': 'Gatwick',
   'municipalityName': 'London',
   'location': {'lat': 51.1481, 'lon': -0.190277},
   'countryCode': 'GB'},
  {'icao': 'EGLC',
   'iata': 'LCY',
   'name': 'London City',
   'shortName': 'City',
   'municipalityName': 'London',
   'location': {'lat': 51.5053, 'lon': 0.055277},
   'countryCode': 'GB'},
  {'icao': 'EGLL',
   'iata': 'LHR',
   'name': 'London Heathrow',
   'shortName': 'Heathrow',
   'municipalityName': 'London',
   'location': {'lat': 51.4706, 'lon': -0.461941},
   'countryCode': 'GB'},
  {'icao': 'EGSS',
   'iata': 'STN',
   'name': 'London Stansted',
   'shortName': 'Stansted',
   'municipalityName': 'London',
   'location': {'lat': 51.885, 'lon': 0.234999},
   'countryCode': 'GB'},
  {'icao': 'EGKB',
   'iata': 'BQH',
   'name': 'London Biggin Hill',
   'shortName': 'Biggin Hill',
   'municipalityName': 'London',
   'location': {'lat': 51.3308, 'lon': 0.032499},
   'countryCode': 'GB'},
  {'icao': 'EGWU',
   'iata': 'NHT',
   'name': 'London RAF Northolt',
   'shortName': 'RAF Northolt',
   'municipalityName': 'London',
   'location': {'lat': 51.553, 'lon': -0.418166},
   'countryCode': 'GB'},
  {'icao': 'FAEL',
   'iata': 'ELS',
   'name': 'East London Ben Schoeman',
   'shortName': 'Ben Schoeman',
   'municipalityName': 'East London',
   'location': {'lat': -33.0356, 'lon': 27.8259},
   'countryCode': 'ZA'},
  {'icao': 'KGON',
   'iata': 'GON',
   'name': 'Groton (New London) Groton New London',
   'shortName': 'Groton New London',
   'municipalityName': 'Groton (New London)',
   'location': {'lat': 41.3301, 'lon': -72.0451},
   'countryCode': 'US'}]}

In [24]:
pd.json_normalize(result2["items"])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,CYXU,YXU,London,London,London,CA,43.0356,-81.153900
1,EGGW,LTN,London Luton,Luton,London,GB,51.8747,-0.368333
2,EGKK,LGW,London Gatwick,Gatwick,London,GB,51.1481,-0.190277
3,EGLC,LCY,London City,City,London,GB,51.5053,0.055277
4,EGLL,LHR,London Heathrow,Heathrow,London,GB,51.4706,-0.461941
5,EGSS,STN,London Stansted,Stansted,London,GB,51.8850,0.234999
6,EGKB,BQH,London Biggin Hill,Biggin Hill,London,GB,51.3308,0.032499
7,EGWU,NHT,London RAF Northolt,RAF Northolt,London,GB,51.5530,-0.418166
8,FAEL,ELS,East London Ben Schoeman,Ben Schoeman,East London,ZA,-33.0356,27.825900
9,KGON,GON,Groton (New London) Groton New London,Groton New London,Groton (New London),US,41.3301,-72.045100

In [25]:
icao_from = "EGLC"
icao_to = "LFPG"

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'EGLC', 'iata': 'LCY', 'name': 'London City', 'shortName': 'City', 'municipalityName': 'London', 'location': {'lat': 51.5053, 'lon': 0.055277}, 'countryCode': 'GB'}, 'to': {'icao': 'LFPG', 'iata': 'CDG', 'name': 'Paris Charles de Gaulle', 'shortName': 'Charles de Gaulle', 'municipalityName': 'Paris', 'location': {'lat': 49.0128, 'lon': 2.549999}, 'countryCode': 'FR'}, 'greatCircleDistance': {'meter': 329372.24, 'km': 329.37, 'mile': 204.66, 'nm': 177.85, 'feet': 1080617.59}, 'approxFlightTime': '00:35:00'}

In [27]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,to.icao,...,to.shortName,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,00:35:00,EGLC,LCY,London City,City,London,51.5053,0.055277,GB,LFPG,...,Charles de Gaulle,Paris,49.0128,2.549999,FR,329372.24,329.37,204.66,177.85,1080617.59

## Function

In [28]:
def get_airport_codes(location):
    url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    headers = {
        "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
        "X-RapidAPI-Key":"9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"  
    }
    query_params = {
        "q": location.lower(),
        "limit": "10"
    }
    response = requests.get(url, headers=headers, params=query_params)
    if response.ok:
        return response.json().get('items', location)
    else:
        print("error:", response.status_code)
        return location


def code_select():
    while True:
        location = input('Insert location: ')
        codes = get_airport_codes(location)
        
        if isinstance(codes, str) or len(set(code['shortName'] for code in codes)) != 1:
            if not codes:
                print('Not Found:', location, '\n')
            else:
                print('Select one of the following locations:', [code['shortName'] for code in codes], '\n')
        else:
            return codes[0]['icao']


def time(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    resp = requests.get(url, headers=headers)
    return pd.json_normalize(resp.json()).T

In [30]:
from_ = code_select()
to_ = code_select()

data = time(from_, to_)
data

Select one of the following locations: ['Adolfo Suárez –Barajas', 'Cuatro Vientos', 'Torrejón', 'Licenciado Miguel de la Madrid']

Select one of the following locations: ['London', 'Luton', 'Gatwick', 'City', 'Heathrow', 'Stansted', 'Biggin Hill', 'RAF Northolt', 'Ben Schoeman', 'Groton New London']

Select one of the following locations: ['London', 'Luton', 'Gatwick', 'City', 'Heathrow', 'Stansted', 'Biggin Hill', 'RAF Northolt', 'Ben Schoeman', 'Groton New London']

Select one of the following locations: ['London', 'Luton', 'Gatwick', 'City', 'Heathrow', 'Stansted', 'Biggin Hill', 'RAF Northolt', 'Ben Schoeman', 'Groton New London']

                                               0
approxFlightTime                        01:45:00
from.icao                                   LECU
from.iata                                    ECV
from.name                  Madrid Cuatro Vientos
from.shortName                    Cuatro Vientos
from.municipalityName                     Madrid
from.location.lat                        40.3707
from.location.lon                       -3.78514
from.countryCode                              ES
to.icao                                     EGGW
to.iata                                      LTN
to.name                             London Luton
to.shortName                               Luton
to.municipalityName                       London
to.location.lat                          51.8747
to.location.lon                        -0.368333
to.countryCode                                GB
greatCircleDistance.meter             1305310.68
greatCircleDistance.km                   1305.31
greatCircleDistance.mile                  811.08
greatCircleDistance.nm                    704.81
greatCircleDistance.feet              4282515.35